* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #262626;
}

.toolBar {
    height: 7vh;
    display: flex;
    background-color: #404040;
    align-items: center;
    border-spacing: 0px;
    border-collapse: collapse;
}
.Gobtn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 16px arial;
    
    min-width: 164px;
    border: solid 2px #262626;
    border-right: 0;
}
    .Gobtn:hover {
        background-color: #4CAF50;
    }

.dropdown2 {
    position: relative;
    display: inline-block;
    margin-left: 110px;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 215px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid 2px #262626;
    z-index: 1;
}

    .dropdown2-content a {
        color: white;
        font: bold 16px arial;
        padding: 12px;
        text-decoration: none;
        display: block;
    }

        .dropdown2-content a:hover {
            background-color: #4CAF50;
        }

.dropdown2:hover .dropdown2-content {
    display: block;
}

.dropdown2:hover .Gobtn {
    background-color: #4CAF50;
}

.Stop {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 16px arial;
    min-width: 164px;
    border: solid 2px #262626;
    border-right: 0;
}
    .Stop:hover {
        background-color: #ff0000;
    }

.Clearbtn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 16px arial;
    min-width: 164px;
    border: solid 2px #262626;
    border-right: 0;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid 2px #262626;
    z-index: 1;
}

    .dropdown1-content a {
        color: white;
        font: bold 16px arial;
        padding: 12px;
        text-decoration: none;
        display: block;
    }

        .dropdown1-content a:hover {
            background-color: #ff9900;
        }

.dropdown1:hover .dropdown1-content {
    display: block;
}

.dropdown1:hover .Clearbtn {
    background-color: #ff9900;
}

.dropbtn {
    background-color: transparent;
    padding: 15px 0px;
    color: white;
    font: bold 16px arial;
    min-width: 164px;
    
    border: solid 2px #262626;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid 2px #262626;
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        font: bold 16px arial;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #0000ff;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0000ff;
}

.slider {
    -webkit-appearance: none;
    width: auto;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    border: solid 2px #262626;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

.Text{
    color:white;
    font:bold 16px arial;
    margin-right:10px;
}

.Text1 {
    color: white;
    font: bold 16px arial;
    margin-right:10px;
    margin-left:30px;
}

.Text2 {
    color: white;
    font: bold 16px arial;
    margin-right: 30px;
    margin-left: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalContent {
    background-color: #595959;
    margin: auto;
    padding: 20px;
    border: 3px solid #000000;
    width: 20%;
    
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.wallOrWeight{
    background-color: transparent;
}



.gridContainer {
    padding-top: 100px;
    background-color: #262626;
}

.grid {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    border-collapse: collapse;
}
.notVisited {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background-color: #808080;
}

.visited {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background-color: navy;
}

@keyframes currentNode {
    0% {
        background-color: orange;        
    }

    25% {
        background-color: #ff5050;
    }

    50% {
        background-color: #ff00ff;
    }

    75% {
        background-color: #3333cc;
    }

    100% {
        background-color: navy;
    }
}

.current {
    animation-name: currentNode;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-color:navy;
}

@keyframes currentNode2 {
    0% {
        background-color: #ffff00;
    }

    25% {
        background-color: #99ff66;
    }

    50% {
        background-color: #00ff00;
    }

    75% {
        background-color: #00ccff;
    }

    100% {
        background-color: #0000ff;
    }
}

.current2 {
    animation-name: currentNode2;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-color: navy;
}

.current1 {
    background-color: #ff3300;
}

.start{
    background-color: green;
}

.finish{
    background-color: red;
}

.wall{
    background-color: black;
}

.weight {
    background-color: #003300;
}

.path{
    background-color: aquamarine;
}