.navBar{

}

.toolBar{
    
}

.gridContainer{
    padding-top:10px;
}

.grid {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    border-collapse: collapse;
}
.notVisited {
    border: 1px solid black;
    height: 30px;
    width:30px;
    background-color:antiquewhite;
}

.visited {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background-color: navy;
}

.current{
    background-color:orange;
}

.start{
    background-color: green;
}

.finish{
    background-color: red;
}

.wall{
    background-color: darkgray;
}
.path{
    background-color: aquamarine;
}